<!doctype html>
<head>
    <title>{% block title %}{% endblock %}Page d'accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>

<body>  
    <p class="txt_util_bold">En approuvant ces conditions d’utilisations, vous approuvez le fait que : </p>
    <p class="txt_util">CreatorConnect ne peut pas être tenu responsable de la qualité des produits, des prix des articles, des délais de livraison, des retours de marchandise ainsi que tout problème éventuel de transport.</p>    
    <p class="txt_util">CreatorConnect ne fournit aucune garantie concernant les articles vendus ou achetés sur son site. Les éventuelles garanties sont à la discrétion du vendeur.</p>    
    <p class="txt_util_bold">En approuvant ces conditions d’utilisation, vous vous engagez à :</p>    
    <p class="txt_util">Respecter les lois en vigueur dans votre pays, dans le pays d’achat ainsi que celui de vente lors de tout achat ou vente d’article sur le site internet CreatorConnect.</p>    
    <p class="txt_util_bold">En approuvant ces conditions d’utilisation, vous savez que :</p>    
    <p class="txt_util">Vos données sont conservées en sécurité dans la base de données de CreatorConnect et ne seront en aucun cas divulguées. Votre mot de passe est crypté grâce à une fonction de hachage et est donc illisible par quiconque ayant accès à la base de données.</p>    
        
    <p class="txt_util">Le for juridique est garantit par la convention de Lugano (CL; RS 0.275.12). Si la convention de Lugano n’est pas applicable, la loi fédérale suisse sur le droit international privé (LDIP; RS 291) s’applique.</p>    
        
    <a href="/auth/creation_createur_ou_client" id="box_util">
        <button id="accept_util" formaction="/auth/creation_createur_ou_client">J'ai lu et j'accepte les conditions générales</button>
    </a> 
</body>