<!doctype html>
<head>
    <title>{% block title %}{% endblock %}Créateur ou client</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <a id="accueil" href="/auth/connection_ou_creation">
        <img class="logo_retour"
            src="{{ url_for('static', filename='images/Logo_retour.png') }}"
            alt="Logo de retour à la page précédente"
        >
    </a>

    <form class="list_button" >
        <h1>Choisis ton type de compte</h1>
        <button class="button" formaction="/auth/register_client">Compte client</button>            
        <button class="button" formaction="/auth/register_createur">Compte créateur</button>
    </form>
</body>