<!doctype html>
<head>
    <title>{% block title %}Choix créateur ou client{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>

<body>

    <a class="accueil" href="/">
        <img class="logo_retour"
            src="{{ url_for('static', filename='images/Logo_retour.png') }}"
            alt="Logo de retour à la page précédente"
        >
    </a>

    <form class="list_button" >
        <h1 class="txt_choix_de_compte">Choisis ton type de compte</h1>
        <button class="button" formaction="/auth/register_client">Compte client</button>            
        <button class="button" formaction="/auth/register_createur">Compte créateur</button>
    </form>
</body>