{% extends 'retour_maison.html' %}

{% block header %}
  <title>{% block title %}New client{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
  <form method="post" class = "list_box">
    <input name="username" id="username" required class="rem_box" placeholder="Nom d'utilisateur">
    <input type="password" name="password" id="password" required class="rem_box" placeholder="Mot de passe">
    <input type="email" name="email" id="email" required class="rem_box" placeholder="Email">
    <input type="submit" value="Créer" class="login">
  </form>
{% endblock %}