{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

  <a id="accueil" href="/auth/creation_createur_ou_client?">
    <img class="logo_retour"
        src="{{ url_for('static', filename='images/Logo_retour.png') }}"
        alt="Logo de retour à la page précédente"
    >
  </a>

  <form method="post" class = "list_box">
    <input name="username" id="username" required class="rem_box" placeholder="Nom d'utilisateur">
    <input type="password" name="password" id="password" required class="rem_box" placeholder="Mot de passe">
    <input type="email" name="email" id="email" required class="rem_box" placeholder="Email">
    <input type="submit" value="Créer" class="login">
  </form>
{% endblock %}