{% extends 'base.html' %}

{% block header %}
  <title>{% block title %}Mes paramètres{% endblock %}</title>
{% endblock %}

{% block content %}
    <div class="bandeau_mon_compte">

      <a href="/session/accueil_connecte">
        <img class="logo_retour_accueil_connecte"
            src="{{ url_for('static', filename='images/Logo_retour.png') }}"
            alt="Logo de retour à la page précédente"
        >
      </a>

      <h1>Mon compte</h1>

    </div>
    <div id ="cadre_info_mon_compte">
      <div id="info_mon_compte">
        <form method="post" class="formulaire_changement_info" enctype="multipart/form-data">
          <div class="changement_une_info">
            <label for="new_username">Nom d'utilisateur : {{g.user.NomUtilisateur}}</label>
            <input name="new_username" class="input_mon_compte"
            placeholder="Nouveau nom" >
          </div>

          <div class="changement_une_info">
            <label for = "old_mdp">Changer de mot de passe</label>
            <input name="old_mdp" class="input_mon_compte"
            placeholder="Ancien mot de passe">
            <input name="new_mdp1" class="input_mon_compte"
            placeholder="Nouveau mot de passe">
            <input name="new_mdp2" class="input_mon_compte"
            placeholder="Nouveau mot de passe">
          </div>

          <div class="changement_une_info">
            <label for = "new_email">Email : {{g.user.Email}}</label>
            <input name="new_email" class="input_mon_compte"
            placeholder="Nouvelle adresse Email" >
          </div>

          <div class="changement_une_info">
            <label for="new_biographie">Biographie : </label>
            <input name="new_biographie" class="input_mon_compte"
            placeholder="{{g.user.Biographie}}" >
          </div>

          <label for="type_de_compte">Type de compte : {{g.user.TypeDeCompte}}</label>
          <select name="type_de_compte" id="type_de_compte">
            <option value="">Choisissez une option</option>
            <option value=Client>Client</option>
            <option value=Createur>Créateur</option>
          </select>

          <div class="changement_une_info">
            <label for="new_compte_bancaire">Compte bancaire : {{g.user.CompteBancaire}}</label>
            <input name="new_compte_bancaire" class="input_mon_compte"
            placeholder="Nouveau compte bancaire">
          </div>
          {% if g.user.TypeDeCompte == "Createur"%}
            <label for="photo_de_profil">Choissiez un QR code Twint</label>
            <div id="cadre_QR">
              <div class="apercu_QR_container">
                <img  src="{{ url_for('static', filename=g.user.QrCodeTwint )}}" id = "apercu_QR">
              </div>
              <label for="photo_de_profil" class="cadre_ajout_QR">
                <span>Choisir un fichier</span>
                <input type="file" id="ajout_QR" name="ajout_QR" />
              </label>
            </div>
          {% endif %}

          <label for="photo_de_profil">Choissisez une photo de profil</label>

          <div class="square-container">
            <img  src="{{ url_for('static', filename=g.user.PhotoDeProfil )}}" id = "profil_pdp">
          </div>

          <label for="photo_de_profil" class="custom-file-upload">
            <span>Choisir un fichier</span>
            <input type="file" id="photo_de_profil" name="photo_de_profil" />
          </label>

          <input type="submit" value="Changer mes infos" id="bouton_changement_info">
          {% if g.user.TypeDeCompte == "Createur"%}
          <form class="liste_bouton">
            <button class="bouton" formaction="/session/modification_page_publique?nom={{ g.user.NomUtilisateur }}">Modification de ma page publique</button>

          </form>  
          {% endif %}
        </form>
      </div>
    </div> 
 
    

{% endblock %}