.logo_retour{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    height: 130px;
    width: 130px;
    cursor: pointer;
}

.list_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3%;
}

.button{
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
    height: 80px;
    width: 480px;    
    border-radius: 100px;
    cursor: pointer;
    color:#EE9250 ;
    border: none;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    position: relative;
}

.rem_box{
    background: hsla(34, 88%, 97%, 1);
    background: linear-gradient(135deg, hsla(34, 88%, 97%, 1) 0%, hsla(31, 90%, 88%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(34, 88%, 97%, 1) 0%, hsla(31, 90%, 88%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(34, 88%, 97%, 1) 0%, hsla(31, 90%, 88%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FEF8F0", endColorstr="#FCE1C4", GradientType=1);
    height: 50px;
    width: 390px;
    border-radius: 100px;
    border: none;
    color: #EE9250;
    font-size: 120%;
    display: block;
    margin: auto;
    padding: 0.25%;
    margin-bottom: 10px;
    margin: 5px 0;
}

.rem_box::placeholder{
    color: #EE9250;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.5;
}

.login{
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
    height: 60px;
    width: 400px;    
    border-radius: 100px;
    cursor: pointer;
    color:#EE9250 ;
    border: none;
    font-size: 140%;
    font-weight: 150;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 5px 0;
}

#mdp_oublie{
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
    height: 50px;
    width: 350px;    
    border-radius: 100px;
    cursor: pointer;
    color:#EE9250 ;
    border: none;
    font-size: 120%;
    font-weight: 150;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 10%;
}

