body{
    background-color: #ffffff;
    color: rgb(238,146,80);

}

.logo {
    max-width: 100%;
    height: auto;
}
.list_button {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px; 

}
button{
    background-color: #F07217;
    height: 80px;
    width: 480px;    
    border-radius: 100px;
    cursor: pointer;
}