body{
    background-color: #ffffff;
    color: rgb(238,146,80);
}

.logo {
    display: block;
    margin: auto;
    height: 35%;
    width: 35%;
}
.list_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3%;

}
.button{
    background-color: #F8B98B;
    height: 80px;
    width: 480px;    
    border-radius: 100px;
    cursor: pointer;
    color:#EE9250 ;
    border: none;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8hv; 
    width: 100%; 
    cursor: pointer;
}

.logo_co_crea{
    width: 100%;
    height: 100%;
}

.logo_retour{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    height: 130px;
    width: 130px;
    cursor: pointer;
}

.list_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    position: relative;
}

.rem_box{
    background-color:rgba(240, 197, 166, 0.5);
    height: 50px;
    width: 390px;
    border-radius: 100px;
    border: none;
    color: #EE9250;
    font-size: 120%;
    display: block;
    margin: auto;
    padding: 0.25%;
    margin-bottom: 10px;
    margin: 5px 0;
}

.rem_box::placeholder{
    color: #EE9250;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.5;
}

.login{
    background-color: #F8B98B;
    height: 60px;
    width: 400px;    
    border-radius: 100px;
    cursor: pointer;
    color:#EE9250 ;
    border: none;
    font-size: 140%;
    font-weight: 150;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 5px 0;
}

#mdp_oublie{
    background-color: #F8B98B;
    height: 50px;
    width: 350px;    
    border-radius: 100px;
    cursor: pointer;
    color:#EE9250 ;
    border: none;
    font-size: 120%;
    font-weight: 150;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom: 10%;
}



.bouton_mon_compte{

    height: 100px;
    width: 100px;    
}

#barre_de_recherche{
    cursor: pointer;
    background-color:rgba(240, 197, 166, 0.5);
    height: 50px;
    width: 390px;
    border-radius: 100px;
    border: none;
    color: #EE9250;
    font-size: 120%;
    display: block;
    margin: auto;
    padding: 0;
    
}

#barre_de_recherche::placeholder{
    color: #EE9250;
    font-size: 105%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.5;
}
 
.barre{
    width: 100%;
    height: 7px;
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
}

.bandeau_accueil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
    flex-wrap: nowrap;
    margin-right: 25px;
}

.bouton_deconnexion{
    height: 130px;
    width: 130px;
    cursor: pointer;    
}

.logo_retour_accueil_connecte{
    width: 100px;
    height: 100px;
    
}

.bandeau_mon_compte{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.changement_une_info{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
}

.formulaire_changement_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}
label{
    font-size: 120%;
    font-weight: 150;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.liste_recherche{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.box_proposition{ 
    display: flex;
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
    height: 228px;
    width: 80%;
    border-radius: 40px;
    border: none;
    color: #EE9250;
    cursor: pointer;
    font-size: 120%;
    font-weight: 150;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: flex-start;
}



.bandeau_profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
    margin: 5%;
}

.logo_retour_profil{
    width: 100px;
    height: 100px;
    margin-right: 45px;
    cursor: pointer;
}

.rectangle_profil{
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);    
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
    border-radius: 40px;
    height: 135px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}

.cercle_profil{
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);    
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-left: 320px;
    z-index: 1;
}

.double_cercle{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nom_utilisateur{
    color: black;
    font-size: 160%;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 200px 0px 0px;
}

.rectangles_profil{
    gap: 10px;
}

.placement_profil{
    display: flex;
}

.reseaux_sociaux{
    background-color: #EE9250;
    width: 230px;
    height: 700px;
    margin-top: 3%;
    margin-left: 6%;
}

.rectangle_bio{
    height: 270px;
    width: 945px;
    background-color: #ffffff;
    border: 5px solid #F8B98B;
    border-radius: 35px;
    margin: 3% 3% 3% 14%;
}

.box_rectangles_portfolio_shop{
    display: flex;
    gap: 3%;
    margin-left: 14%;
}

.rectangle_portfolio{
    height: 500px;
    width: 455px;
    background-color: #ffffff;
    border: 5px solid #F8B98B;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.txt_portfolio{
    background-color: #F8B98B;
    color: black;
    width: 320px;
    height: 50px;
    font-size: 160%;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.rectangle_shop{
    height: 500px;
    width: 455px;
    background-color: #ffffff;
    border: 5px solid #F8B98B;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.txt_shop{
    background-color: #F8B98B;
    color: black;
    width: 320px;
    height: 50px;
    font-size: 160%;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.apercu{
    margin-top: 40%;
}

.carre_portfolio{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border: 5px solid #F8B98B;
    border-radius: 35px;
    margin: 2% 2% 2% 2%;
}

.ligne_portfolio{
    display: flex;
    justify-content: center;
}

.box_shop{
    justify-content: center;
    margin-left: 18%;
}

.ligne_shop{
    display: flex;
    justify-content: center;
}

.rectangle_article{
    margin: 1.5% 1.5% 1.5% 1.5%;
    cursor: pointer;
}

.photo_article{
    width: 325px;
    height: 360px;
    background-color: #ffffff;
    border: 5px solid #F8B98B;
    border-radius: 35px;
}

.description_article{
    width: 325px;
    height: 160px;
    background-color: #ffffff;
    border: 5px solid #F8B98B;
    border-radius: 35px;
}

.square-container {
    width: 200px; 
    height: 200px;
    overflow: hidden;
  }

#profil_pdp{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#cadre_info_mon_compte{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info_mon_compte{
    background: hsla(31, 90%, 88%, 1);
    background: linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);    
    background: -webkit-linear-gradient(135deg, hsla(31, 90%, 88%, 1) 0%, hsla(31, 91%, 82%, 1) 50%, hsla(31, 94%, 76%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCE1C4", endColorstr="#FBD2A6", GradientType=1 );
    width: 30%;
    border-radius: 15%;
}

#apercu_pdp{
    width: 120px; 
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

#container_apercu_pdp{
    width: 120px; 
    height: 120px;
    overflow: hidden;
    margin-top: 20px;
    
}

.Pdp_Nom_Bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 3%;
}

#apercu_nom{
    max-width: 120px;
    margin: 0 0 0 0;
    word-wrap: break-word;
    padding: 10px;
    text-align: center;
}

#recherche_pdp{
    width: 240px; 
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
}

#container_recherche_pdp{
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    z-index: 2;
    margin-left: 320px;
}