body{
    background-color: #ffffff;
    color: rgb(238,146,80);

}

.logo {
    display: block;
    margin: auto;
    height: 35%;
    width: 35%;
}
.list_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3%;

}
.button{
    background-color: #F8B98B;
    height: 80px;
    width: 480px;    
    border-radius: 100px;
    cursor: pointer;
    color:#EE9250 ;
    border: none;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_connexion{
    display: block;
    margin: auto;
    height: 15%;
    width: 10%;
    cursor: pointer;
}

#accueil{
    cursor: default;
}