<!doctype html>
<head>
    <title>{% block title %}{% endblock %}Template de base Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        <a class="accueil" href="/">
            <img class="logo_retour"
                src="{{ url_for('static', filename='images/Logo_retour.png') }}"
                alt="Logo de retour à la page précédente"
            >
        </a>
        {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>